language: node_js
node_js:
- '14'
services:
- mongodb
env:
- DB_URL="mongodb://localhost/test"
script:
- echo "START BUILD"
- echo "installing dependencies..."
- yarn
- echo "running tests..."
- jest
before_deploy:
  - rvm $(travis_internal_ruby) --fuzzy do ruby -S gem install faraday -v 1.8.0
deploy:
  provider: heroku
  app: adidoesnt-otot-b
  on:
    tags: true
    branches:
      only: main
  api_key:
    secure: jMogzrKhjQk/9aRnq1HuVUri/bMHS7/FT6ngTHLwgq3cqcMWiUpqokB3AiGXaYCWIRmhN/O4eiqVGPLKCeFuez2gRPKL2MU3zUqB+0yMqoiqRU19tvhjZSwoo6li9IgiXoMMVNIB1Jy/Hd5+qF2R6Se0jmFT89/UFPO8IYXStvQ+vOZ9cJOQoUXZdrO9JasQ7ciJaLlr/OMWqF+LzLr5SLQQ6LSIifC7BLMx/A2Bqsxmk7K8BAAVbc85wBxPaaPjYnlCL/t2IKgicc3GaQVcOwYYDmh83oL3KlIjxDqXtQd2/aJmN9UiQ1b1qq51bJLmyJU1KUtpqEFdfZ7fgIVJrhI3T97VYW4unLtWW9fpg4iGiPmSo5/uLI08MsbS2f+URyETxP44mIqsFhZ5+6mXk2LIt9hgXkfyDL2iYVdMmJETqQR5Bx6yI7RnYZTkYoqUlZ7U7EoF8N+e92A32sg2f9UMmoTv13SQq5FrN1cx7LXvUes9vQDsWfK8Mf+lt3hwoUbZYE0LNdv9846ht7207kzHNhFvOECwF8wxTxO7LRNypL13H5Mlf8vDLkMWbdO6IMSLwm1727osz5DNwdZVcs+uVokwSlgp37dSMQjiEeas9O66MQ8NxPuuFCYEoflLQJKzex2R9Z1J3CtPr5lc+UNNwsDw7u5m60RyqV+3vHg=
